{% extends "base.html" %}
{% block content %}
	{% if error %}
		<section class="hero">
			<div class="hero-body">
				<div class="container">
					<h1 class="title">
						Error:
					</h1>
					<h2 class="subtitle">
						Database is locked, try again in a moment.
					</h2>
				</div>
			</div>
		</section>
	{% else %}
		{% include "filter_posts.html" %}

		{% for p in posts %}
			{% if p.type == "rss" %}
				{% include "rss.html" %}
			{% else %}
				{% include "atom.html" %}
			{% endif %}
		{% endfor %}
		<div id="modal" class="modal">
			<div class="modal-background"></div>
			<div id="modal-content" class="modal-content">
			
			</div>
			<button class="modal-close is-large" aria-label="close"></button>
		</div>
	{% endif %}

{% endblock %}

{% block footer %}
	<nav class="pagination" role="navigation" aria-label="pagination">
	<ul class="pagination-list">
		{% for p in range(1,page_count) %}
		<li>
			<a class="pagination-link {% if request.path[-2:-1]|int == p %} is-current {% endif %}" href="/posts/{{ p }}" aria-label="Page {{ p }}" aria-current="page">{{ p }}</a>
		</li>
		{% endfor %}
	</ul>
	{% if request.path[-2:-1]|int > 1 %}
	<span class="pagination-previous">
		<a href="/posts/{{ request.path[-2:-1]|int - 1 }}">Previous</a>
	</span>
	{% endif %}
	{% if request.path[-2:-1]|int < page_count - 2 %}
	<span class="pagination-next">
		<a class="pagination-next" href="/posts/{{ request.path[-2:-1]|int + 1 }}">Next page</a>
	</span>

	{% endif %}
</nav>
{% endblock %}
